.lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;

  &__item {
    display: none;

    & + span {
        display: inline-flex;
        margin: 0 10px;
        color: var(--lightBlack);
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.5s;
    }

    &.active + span,
    &:hover + span {
        color: var(--mainColor);
    }
  }
}