.btns {
  @include media-sm {
    flex-wrap: initial;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 41px;
}

.btn {
  @include media-sm {
    width: auto;
  }

  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-width: 15rem;
  max-width: 26.8rem;
  min-height: 4rem;
  margin-right: auto;
  margin-left: auto;
  border: 0.1rem solid var(--mainColor);
  border-radius: 3px;
  background: var(--white);
  outline: none;
  font-size: 1.6rem;
  line-height: 2rem;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: var(--white);
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &-primary {
    border-color: var(--primaryBorder);
    border-color: var(--primary);
    color: var(--primary);

    &:hover {
      background-color: var(--primaryHover);
      color: var(--white);
    }
  }

  &-warning {
    border-color: var(--warningBorder);
    color: var(--black);

    svg {
      stroke: var(--lightBlack);
    }

    &:hover {
      background-color: var(--warningHover);
      color: var(--black);

      svg {
        stroke: var(--lightBlack);
      }
    }
  }

  &-danger {
    border-color: var(--danger);
    color: var(--danger);

    &:hover {
      border-color: var(--dangerHover);
      background-color: var(--dangerHover);
      color: var(--white);
    }
  }

  &-icon {
    min-width: 5rem;
    margin-left: 1rem;

    svg {
      width: 1.4rem;
      height: 1.4rem;
      stroke: var(--white);
      transition: 0.5s;
    }

    &--circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.5rem;
      min-width: auto;
      height: 3.5rem;
      min-height: initial;
      margin-left: auto;
      margin-right: 0;
      padding: 0;
      border: 1px solid var(--mainColor);
      border-radius: 50%;
      background: var(--white);
      box-shadow: -2px 0px 3px rgba(40, 40, 40, 0.18);
      cursor: pointer;
      transition: 0.5s;

      svg {
        width: 1.4rem;
        height: 1.4rem;
        stroke: var(--lightBlack);
        transition: 0.5s;
      }

      &:hover {
        background: var(--mainColor);

        svg {
          stroke: var(--white);
        }
      }
    }
  }
}


.btn-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.4rem;
  min-width: auto;
  height: 1.4rem;
  min-height: initial;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  svg {
    width: 0.8rem;
    height: 0.8rem;
    stroke: var(--danger);
    transition: 0.5s;
  }

  &:hover {
    box-shadow: 0 0 0.4rem rgba(40, 40, 40, 0.18);
  }
}
