.btns {
  display: flex;
  justify-content: center;
  margin-top: 41px;

  @media screen and (max-width: 380px) {
    flex-wrap: wrap;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 150px;
  min-height: 40px;
  border: 1px solid var(--mainColor);
  border-radius: 3px;
  background: var(--white);
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.5s;

  @media screen and (max-width: 380px) {
    width: 100%;
    max-width: 268px;
    margin-right: auto;
    margin-left: auto;
  }

  &:hover {
    color: var(--white);
  }

  &-primary {
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--white);

    &:hover {
      border-color: var(--primaryBorder);
      background-color: var(--primaryHover);
      color: var(--white);
    }
  }

  &-warning {
    border-color: var(--warning);
    background-color: var(--warning);
    color: var(--black);

    svg {
      stroke: var(--lightBlack);
    }

    &:hover {
      border-color: var(--warningBorder);
      background-color: var(--warningHover);
      color: var(--black);

      svg {
        stroke: var(--lightBlack);
      }
    }
  }

  &-icon {
    min-width: 50px;
    margin-left: 10px;

    svg {
      width: 14px;
      height: 14px;
      stroke: var(--white);
      transition: 0.5s;
    }
  }
}

.btn-cross {
  display: flex;
  align-items: center;
  min-width: 32px;
  margin-left: auto;

  svg {
    width: 15px;
    height: 15px;
    stroke: var(--danger);
    transition: 0.5s;
  }

  &:hover {
    box-shadow: 0px 0px 4px rgba(40, 40, 40, 0.18);
  }
}
