.btns {
  @include media-sm {
    flex-wrap: initial;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 41px;
}

.btn {
  @include media-sm {
    width: auto;
  }

  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-width: 15rem;
  max-width: 26.8rem;
  min-height: 4rem;
  margin-right: auto;
  margin-left: auto;
  border: 0.1rem solid var(--mainColor);
  border-radius: 3px;
  background: var(--white);
  outline: none;
  font-size: 1.6rem;
  line-height: 2rem;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: var(--white);
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &-primary {
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--white);

    &:hover {
      border-color: var(--primaryBorder);
      background-color: var(--primaryHover);
      color: var(--white);
    }
  }

  &-warning {
    border-color: var(--warning);
    background-color: var(--warning);
    color: var(--black);

    svg {
      stroke: var(--lightBlack);
    }

    &:hover {
      border-color: var(--warningBorder);
      background-color: var(--warningHover);
      color: var(--black);

      svg {
        stroke: var(--lightBlack);
      }
    }
  }

  &-icon {
    min-width: 5rem;
    margin-left: 1rem;

    svg {
      width: 1.4rem;
      height: 1.4rem;
      stroke: var(--white);
      transition: 0.5s;
    }
  }
}


.btn-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.4rem;
  min-width: auto;
  height: 1.4rem;
  min-height: initial;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  svg {
    width: 0.8rem;
    height: 0.8rem;
    stroke: var(--danger);
    transition: 0.5s;
  }

  &:hover {
    box-shadow: 0 0 0.4rem rgba(40, 40, 40, 0.18);
  }
}
