@import 'assets/scss/variables';

* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	font-size: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
	width: 100%;
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 2rem;

  @include  media-lg {
		max-width: 100%;
	}

  @include  media-xl {
    max-width: 135rem;
  }
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  box-sizing: border-box;
  color: #282828;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: 'Scada', sans-serif;
}

.main-title {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  line-height: 3rem;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

hr {
  border-bottom: 0.1rem solid rgba(40, 40, 40, 0.18);
}

.error {
  max-width: 268px;
  margin: 0 auto;
  padding-top: 5px;
  color: red;
  font-size: 12px;
  text-align: left;
}

@import 'assets/scss/components/btn';
@import 'assets/scss/components/form';
@import 'assets/scss/components/list';
@import 'assets/scss/components/swal';